.css-kzh4if-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
  font-weight: 600 !important;
  top: -15px !important;
}
.logo-div{
  text-align: center;
  padding: 1.2em;
}
.logoClass{
  padding: .2em;

}